<!-- START TEMPLATE: contact-form.html -->
<style></style>
<div id="maillist-form" class="mb-4">
  <h4 class="h5 mb-3">Join Our Mailing List</h4>
  <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSeXwrKrfRMRstmQroaV89fX0qbqA2vMqFzpmGgVa1nAKqaOag/formResponse" method="post" class="needs-validation" novalidate data-google-form="yes" data-success-message="Nice! You'll hear from us soon! :)" data-error-message="Whoops! That didn't work :'(">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="entry.50621434" placeholder="" required>
      <div class="invalid-feedback">
        Please enter a valid email address.
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Subscribe</button>
  </form>
</div>
<script src="/assets/js/maillist-form.js"></script>
<!-- END TEMPLATE: contact-form.html -->