// Utility Classes
.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  
  &:hover,
  &:focus {
    background-color: #700000;
    border-color: #700000;
  }
}

.text-primary {
  color: $primary-color !important;
}

.bg-primary {
  background-color: $primary-color !important;
}
