<!-- View hours table -->
<div class="table-responsive">
  <table class="table table-striped table-hover" id="hoursTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Hours</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <!-- Table will be populated dynamically -->
    </tbody>
  </table>
</div>
<div class="alert alert-info mt-3 d-none" id="noHoursData">
  No volunteer hours have been logged yet.
</div>
<div class="alert alert-danger mt-3 d-none" id="viewHoursError">
  Error retrieving volunteer hours. Please try again.
</div>
