---
title: Tech Ministry
layout: page
permalink: /ministries/tech/
---


{% capture techcontent %}
<p>Hey there! Welcome to the Technology Ministry.</p>
<p>Well... I don't know what exactly I do here... Something at the computer, I guess.</p>
<p>Anyway, I run the website, and basically just anything on the computer. :)</p>
<p>I would love to have more people involved in the ministry!</p>
{% endcapture %}

{% include image-to-the-right.html
    title="Technology Ministry"
    content=techcontent
    image="/assets/images/thesocks.jpg"
    alt="A computer with code on the screen" %}

{% include scripture-quote.html
    quote="Whatever you do, work heartily, as for the Lord and not for men."
    source="Colossians 3:23" %}
